/* ========================
   	   table of contents 
   ======================== */

// 1) 	GENERAL STYLES
// 2) 	HEADER
// 3) 	INPUT
// 4)	LIST STYLES

@import './partials/setup';

// 1) 	GENERAL STYLES

html {
	font-size: 62.5%;
}

body {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	font: 16px 'Ubuntu', sans-serif;
	background: #ecf0f1;
	border-top: 5px solid #95a5a6;
}

// 2) HEADER

header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #7f8c8d;
}
header h1 span {
	font-weight: 700;
}
header p {
	color: #21333fda;
}

// INPUT

.app-insert {
	width: 100%;
	margin: 50px auto 20px;
	display: flex;
	border-bottom: 1px solid #bdc3c7;
	font: 300 28px 'Ubuntu', sans-serif;
}
.app-insert #skill {
	width: 90%;
	height: 60px;
	background: none;
	border: none;
	outline: none;
	padding: 20px;
}

.app-insert #submit {
	border: none;
	margin: 0 auto;
	width: 10%;
	font-size: 2rem;
	font-family: 'Ubuntu', sans-serif;
	color: #6e7070;
}

.app-insert label {
	visibility: hidden;
}

// LIST STYLES

.listOfSkills {
	list-style-type: none;
	margin: 0 auto;
	color: #6e7070;
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			width: 10%;
			font-size: 2rem;
		}
		p {
			text-align: center;
			width: 10%;
			font-size: 4rem;
		}
		button {
			width: 10%;
			background: none;
			color: inherit;
			border: none;
			padding: 0;
			font-size: 3rem;
			cursor: pointer;
			outline: inherit;
		}
	}
}

// FOOTER STYLES

footer {
	width: 100%;
	margin: 5% auto 0 auto;
	text-align: center;
	border-bottom: 5px solid #95a5a6;
	a {
		text-decoration: none;
		color: #7f8c8d;
	}
}
